# Maven
**/target/
**/*.ser
**/*.ec

# IntelliJ Idea
**/.idea/
**/out/
**/*.ipr
**/*.iws
**/*.iml

# Eclipse
**/.classpath
**/.project
**/.settings/
**/.metadata/
**/*.mymetadata
**/*.myumldata

**/logs/**
logs/**

rebel.xml